header.navbar.navbar-inverse.navbar-fixed-top.wiki-navbar(role='banner')
  ul.nav.navbar-nav.navbar-right
     li 
      - if (req.session.user)
        a(href='/signout') 로그아웃
      - else
        a(href='/signin') 로그인
